{:paths ["code"]
 :deps  {org.clojure/clojure           {:mvn/version "1.11.0"}
         com.lambdaisland/witchcraft   {:git/url "https://github.com/Connorppeach/witchcraft"
                                        :git/sha "b37643ff101485b289e76af0f8c25c6c46a8b501"}
         refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
         clojure2d/clojure2d           {:mvn/version "1.4.4"}
         cider/cider-nrepl             {:mvn/version "RELEASE"}}

 :mvn/repos
 {"sk_tomsik68" {:url "https://raw.githubusercontent.com/tomsik68/maven-repo/master/"}}}
